html {
    font-family: "Raleway", sans-serif;
}

body {
    margin: 0;
}

#body-container {
    display: -ms-grid;
    display: grid;
    grid-template-areas:
        "header header"
        "nav article"
        "footer footer";
    -ms-grid-rows: 100% 10px 1fr 10px 1fr;
    grid-template-rows: 100% 1fr 1fr;
    -ms-grid-columns: 175px 10px 1fr;
    grid-template-columns: 175px 1fr;
    grid-gap: 10px;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#body-container2 {
    display: -ms-grid;
    display: grid;
    grid-template-areas:
        "nav article"
        "footer footer";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 175px 1fr;
    grid-gap: 10px;
    height: 100vh;
    width: 100vw;
    margin: 0;
    -webkit-box-align: initial;
    -ms-flex-align: initial;
    align-items: initial;
}

a {
    text-decoration: none;
}

#header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#header-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

#header-title {
    text-align: center;
    font-size: 5vw;
    z-index: 2;
    color: white;
}

#arrow-container {
    position: absolute;
    z-index: 2;
    bottom: 20px;
}

.arrowBounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    max-width: 40px;
    max-height: 40px;
}

.arrowBounce::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 26px;
    width: 18px;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

#nav {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: nav;
}

#nav > ul {
    height: 100%;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0px 50px;
    list-style-type: none;
}

.links {
    text-decoration: none;
    color: black;
    position: relative;
}

.links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: currentColor;

    -webkit-transform: scaleX(0);

    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transition: -webkit-transform 250ms ease-in;
    transition: -webkit-transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.links:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}

#selectedLi::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: currentColor;

    -webkit-transform: none;

    transform: none;
}

#article {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: article;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#article2 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: article;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 2%;
}

/* Handle card styling */
.fullCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 3%;
    margin: 10px 10px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19);
    background: #fc4a1a;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#f7b733),
        to(#d44c27)
    );
    background: linear-gradient(to right, #f7b733, #d44c27);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cardTitle {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: inherit;
    height: 95%;
    width: 95%;
    margin: auto;
    background-color: white;
    color: #d44c27;
    font-size: 30px;
    font-weight: 300;
}

/*  end of card styling */

#outer-border {
    min-height: 350px;
    min-width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    background: #fc4a1a;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#f7b733),
        to(#d44c27)
    );
    background: linear-gradient(to right, #f7b733, #d44c27);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#inner-container {
    min-height: 340px;
    min-width: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    background-color: white;
    margin: 0 auto;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

form {
    align-self: center;
    text-align: center;
}

label,
input {
    margin: 5px 0;
}


form.submitted input:invalid {
    background: rgb(255, 233, 233);
}

/* Assignment 1 - Temperature Converter */

#assignment-title {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    color: #d44c27;
    margin-top: 10px;
}

#assignment-description {
    margin: auto;
    color: #ff3700;
}

/* Removes the number scroll for input type="number" */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.styleBlocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px auto;
}

label {
    color: #e0461c;
    font-weight: 600;
}

label[for="celsius"] {
    color: #f3ae23;
    font-weight: 600;
}

#buttons {
    text-align: center;
}

#submit-btn,
#next-btn {
    margin: auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: white;
    color: #f3ae23;
    border: none;
}

#reset-btn,
#exit-btn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: white;
    color: #d44c27;
    border: none;
}

#displayResults {
    font-size: 6em;
    font-weight: 500;
    text-align: center;
    color: #d44c27;
}

/* end of Assignment 1 styling */

/* Assignment 2 - Background Color Change and Stopwatch */
#display-stopwatch {
    width: 100%;
    font-size: 70px;
    text-align: center;
    margin: 0 auto;
    color: #d44c27;
    margin-top: 25%;
}

#buttons-stopwatch {
    text-align: center;
}

#startStop-stopwatch {
    margin: 10px;
    padding: 10px 20px;
    font-size: 2em;
    background-color: white;
    color: #f3ae23;
    border: none;
}

#reset-stopwatch {
    margin: 10px;
    padding: 10px 20px;
    font-size: 2em;
    background-color: white;
    color: #d44c27;
    border: none;
}

/* End of Assignment 2 styling */

/* Assignment 3 - Digit to Text Converter */

#check-leaf {
    background-image: url("../images/check-leaf.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 330px;
    width: 730px;
    position: relative;
}

#userName {
    position: absolute;
    top: 8%;
    left: 5%;
}

#bankInfo {
    position: absolute;
    top: 15%;
    left: 5%;
}

#checkDate {
    position: absolute;
    top: 20%;
    right: 18%;
    font-size: 0.9rem;
}

#checkAmount {
    position: absolute;
    top: 35%;
    right: 5.4%;
    width: 117px;
    height: 22px;
}

#payTo {
    position: absolute;
    width: 59%;
    top: 36%;
    left: 14%;
}

#memo {
    position: absolute;
    bottom: 19%;
    left: 10%;
}

#digitToText {
    position: absolute;
    top: 48%;
    left: 5%;
    font-style: italic;
}

/* End of Assignment 3 styling */

#footer {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
    text-align: center;
    margin-top: 10vh;
    bottom: 0;
}

#footer-title {
    font-weight: bold;
}

#email {
    text-decoration: none;
    color: black;
}

.credits {
    margin-top: 20px;
    font-size: 10px;
}

@media screen and (min-width: 1025px) {
    #header-title {
        font-size: 50px;
    }
}

@media (max-width: 750px) {
    #body-container {
        grid-template-areas:
            "header"
            "nav"
            "article"
            "footer";
        -ms-grid-rows: 80% 10px 20% 10px 1fr 10px 1fr;
        grid-template-rows: 80% 20% 1fr 1fr;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    #body-container2 {
        grid-template-areas:
            "nav"
            "article"
            "footer";
        grid-template-rows: 20% 1fr 1fr;
        grid-template-columns: 1fr;
    }

    #header-title {
        font-size: 30px;
        padding: 0 20px;
    }

    #header > img {
        -o-object-fit: cover;
        object-fit: cover;
    }

    #arrow-container {
        bottom: 10px;
    }

    .arrowBounce {
        max-width: 20px;
        max-height: 20px;
    }

    #nav > ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0;
        height: 80%;
    }

    #nav li {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin: 5px 5px;
    }

    .links {
        padding: 0;
        margin: auto;
        text-align: center;
    }

    #header {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    #nav {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    #article {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    #footer {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
}
